@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* @layer base {
  :root {
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 22 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 32 100% 98%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 0 0% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 18px;
  }
} */

/* :root {
  --background: 12 22% 100%;
  --foreground: 12 5% 10%;
  --card: 12 22% 100%;
  --card-foreground: 12 5% 15%;
  --popover: 12 22% 100%;
  --popover-foreground: 12 95% 10%;
  --primary: 12 78% 75%;
  --primary-foreground: 0 0% 0%;
  --secondary: 12 22% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -26 22% 95%;
  --muted-foreground: 12 5% 40%;
  --accent: -26 22% 90%;
  --accent-foreground: 12 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 12 5% 100%;
  --border: 12 22% 82%;
  --input: 12 22% 50%;
  --ring: 12 78% 75%;
  --radius: 1rem;
}
.dark {
  --background: 12 22% 10%;
  --foreground: 12 5% 100%;
  --card: 12 22% 10%;
  --card-foreground: 12 5% 100%;
  --popover: 12 22% 5%;
  --popover-foreground: 12 5% 100%;
  --primary: 12 78% 75%;
  --primary-foreground: 0 0% 0%;
  --secondary: 12 22% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -26 22% 25%;
  --muted-foreground: 12 5% 65%;
  --accent: -26 22% 25%;
  --accent-foreground: 12 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 12 5% 100%;
  --border: 12 22% 50%;
  --input: 12 22% 50%;
  --ring: 12 78% 75%;
  --radius: 1rem;
} */

@layer base {
  :root {
    --background: 202 0% 100%;
    --foreground: 202 0% 10%;
    --card: 202 0% 100%;
    --card-foreground: 202 0% 15%;
    --popover: 202 0% 100%;
    --popover-foreground: 202 95% 10%;
    --primary: 202 82.1% 43.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 164 10% 95%;
    --muted-foreground: 202 0% 40%;
    --accent: 164 10% 90%;
    --accent-foreground: 202 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 202 0% 100%;
    --border: 202 20% 82%;
    --input: 202 20% 50%;
    --ring: 202 82.1% 43.9%;
    --radius: 1rem;
  }
  .dark {
    --background: 202 10% 10%;
    --foreground: 202 0% 100%;
    --card: 202 0% 10%;
    --card-foreground: 202 0% 100%;
    --popover: 202 10% 5%;
    --popover-foreground: 202 0% 100%;
    --primary: 202 82.1% 43.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 164 10% 25%;
    --muted-foreground: 202 0% 65%;
    --accent: 164 10% 25%;
    --accent-foreground: 202 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 202 0% 100%;
    --border: 202 20% 50%;
    --input: 202 20% 50%;
    --ring: 202 82.1% 43.9%;
    --radius: 1rem;
  }
}

* {
  font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}
